@using Pronetsys.Server.Components 
@using Pronetsys.Server.Auth 
@inherits LayoutComponentBase
@inject NavigationManager NavMan

<AuthorizeView Policy="@PolicyNames.TwoFactorRequired">
    <Authorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>

                <div class="main">
                    <div class="content px-4">
                        @Body
                    </div>
                </div>
            </div>
    </Authorized>
    <NotAuthorized>
        <div class="container mt-5">
            <h3>Se requiere autenticación de dos factores</h3>

            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <p>Se requiere autenticación de dos factores. Haga clic en el botón de abajo para configurar su aplicación de autenticación.</p>
                    <p>
                        <button class="btn btn-primary" @onclick="NavigateToTwoFactor">Habilitar 2FA</button>
                    </p>
                </div>
            </div>
        </div>

    </NotAuthorized>
</AuthorizeView>

<div id="blazor-error-ui">
    Se ha producido un error no controlado.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>

<ToastHarness />
<LoaderHarness />
<ModalHarness />

@code {
    private void NavigateToTwoFactor()
    {
        NavMan.NavigateTo("/Account/Manage/TwoFactorAuthentication", true);
    }
}