@implements IDisposable
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject IDataService DataService
@inject IDataService DataService

<div class="sidebar-brand navbar navbar-dark">
    <a class="navbar-brand text-start" href="">
        <img src="/images/pronetsys-logo-white.png" alt="Pronetsys" class="sidebar-logo sidebar-logo-full" />
        <img src="/images/favicon.png" alt="Pronetsys" class="sidebar-logo-icon" />
        <div class="logo-subtitle">
            @if (!string.IsNullOrWhiteSpace(_organization?.OrganizationName))
            {
                @_organization.OrganizationName
            }
            else
            {
                <span>Portal de soporte</span>
            }
        </div>
    </a>
    <label for="sidebarCollapseToggle" class="sidebar-toggle" title="Fijar o soltar el menú" aria-label="Fijar o soltar el menú">
        <span class="oi oi-menu" aria-hidden="true"></span>
    </label>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> <span class="nav-label">Inicio</span>
            </NavLink>
        </li>


        <li class="nav-item px-3">
            <NavLink class="nav-link" href="downloads">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> <span class="nav-label">Descargas</span>
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Viewer" target="_blank">
                <span class="oi oi-monitor" aria-hidden="true"></span> <span class="nav-label">Control remoto</span>
            </NavLink>

        </li>

        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="deploy">
                        <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> <span class="nav-label">Implementar</span>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="scripts">
                        <span class="oi oi-script" aria-hidden="true"></span> <span class="nav-label">Scripts</span>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="device-details">
                        <span class="oi oi-info" aria-hidden="true"></span> <span class="nav-label">Detalles del dispositivo</span>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="user-options">
                        <span class="oi oi-pencil" aria-hidden="true"></span> <span class="nav-label">Opciones de usuario</span>
                    </NavLink>
                </li>

            </Authorized>
        </AuthorizeView>


        @if (_user?.IsAdministrator == true)
        {
            <li class="nav-item px-3 pt-3 small text-muted">
                <span class="nav-label">Administración</span>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="manage-organization">
                    <span class="oi oi-briefcase" aria-hidden="true"></span> <span class="nav-label">Organización</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="branding">
                    <span class="oi oi-brush" aria-hidden="true"></span> <span class="nav-label">Personalización de marca</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="api-keys">
                    <span class="oi oi-key" aria-hidden="true"></span> <span class="nav-label">Claves de API</span>
                </NavLink>
            </li>

            @if (_user?.IsServerAdmin == true)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="server-logs">
                        <span class="oi oi-document" aria-hidden="true"></span> <span class="nav-label">Registros del servidor</span>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="server-config">
                        <span class="oi oi-wrench" aria-hidden="true"></span> <span class="nav-label">Configuración del servidor</span>
                    </NavLink>
                </li>
            }
        }

        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3 mt-3">
                    <a class="nav-link" href="Account/Manage">
                        <span class="oi oi-person" aria-hidden="true"></span> <span class="nav-label">Cuenta</span>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@_currentUrl" />
                        <button type="submit" class="nav-link nav-link-button">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> <span class="nav-label">Cerrar sesión</span>
                        </button>
                    </form>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3 mt-3">
                    <a class="nav-link" href="Account/Login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> <span class="nav-label">Iniciar sesión</span>
                    </a>
                </li>
                @if (_isRegistrationEnabled)
                {
                    <li class="nav-item px-3">
                        <a class="nav-link" href="Account/Register">
                            <span class="oi oi-plus" aria-hidden="true"></span> <span class="nav-label">Registrarse</span>
                        </a>
                    </li>
                }
            </NotAuthorized>
        </AuthorizeView>

        <li class="nav-item px-3 mt-3">
            <a class="nav-link" href="/about">
                <span class="oi oi-info" aria-hidden="true"></span> <span class="nav-label">Acerca de</span>
            </a>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool _isRegistrationEnabled;
    private PronetsysUser? _user;
    private Organization? _organization;
    private string? _currentUrl;

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    protected override async Task OnInitializedAsync()
    {
        var settings = await DataService.GetSettings();
        _isRegistrationEnabled = settings.MaxOrganizationCount < 0 || DataService.GetOrganizationCount() < settings.MaxOrganizationCount;

        await base.OnInitializedAsync();

        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;

        var userResult = await AuthService.GetUser();

        if (!userResult.IsSuccess)
        {
            return;
        }

        _user = userResult.Value;

        if (!string.IsNullOrWhiteSpace(_user?.OrganizationID))
        {
            var orgResult = await DataService.GetOrganizationById(_user.OrganizationID);
            if (orgResult.IsSuccess)
            {
                _organization = orgResult.Value;
            }
        }
        else
        {
            var orgResult = await DataService.GetDefaultOrganization();
            if (orgResult.IsSuccess)
            {
                _organization = orgResult.Value;
            }
        }
    }

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "";


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        InvokeAsync(StateHasChanged);
    }
}
