@page "/about"

<h3>Acerca de Pronetsys Asistencia Remota</h3>

<p>
    Sitio web: <a href="https://pronetsys.com.co" target="_blank" rel="noopener">pronetsys.com.co</a>
</p>
<p>
    Portal de soporte: <a href="https://soporte.pronetsys.com.co" target="_blank" rel="noopener">soporte.pronetsys.com.co</a>
</p>
<p>
    Licencias de código abierto: <a href="/credits">Créditos</a>
</p>
<p>
    Versión: @(AppVersionHelper.GetAppVersion())
</p>
