@page "/about"

<h3>Acerca de Pronetsys Asistencia Remota</h3>

<p>
    Repositorio del proyecto: <a href="https://github.com/cgarces87/Pronetsys_Soporte_Remoto_View">https://github.com/cgarces87/Pronetsys_Soporte_Remoto_View</a>
</p>
<p>
    Basado en el proyecto de código abierto <a href="https://github.com/immense/Remotely">Remotely</a>.
</p>
<p>
    Licencias de código abierto: <a href="/credits">Créditos</a>
</p>
<p>
    Versión: @(AppVersionHelper.GetAppVersion())
</p>
