@page "/about"

<h3>About Pronetsys Asistencia Remota</h3>

<p>
    Project Repo: <a href="https://github.com/cgarces87/Pronetsys_Soporte_Remoto_View">https://github.com/cgarces87/Pronetsys_Soporte_Remoto_View</a>
</p>
<p>
    Based on the open-source <a href="https://github.com/immense/Remotely">Remotely</a> project.
</p>
<p>
    Open-Source Licenses: <a href="/credits">Credits</a>
</p>
<p>
    Version: @(AppVersionHelper.GetAppVersion())
</p>
