@page "/downloads"
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging 

@inject IAuthService Auth
@inject IDataService DataService
@inject UserManager<RemotelyUser> UserManager
@inject IWebHostEnvironment HostEnv
@inject NavigationManager NavManager
@inject ILogger<Downloads> Logger 

@if (_isAuthenticated)
{
    <div class="alert alert-info">
        Visita la página de <a href="/deploy">Despliegue</a> para obtener un script de despliegue para copiar y pegar.
    </div>
}


<div class="row mb-3">
    <h4>Clientes portátiles de soporte instantáneo</h4>
    <p class="text-info col-sm-12 mb-2">
        Compartir escritorio al instante. No se requiere cuenta.
    </p>
    <div class="col-sm-6 mb-3">
        <strong>Windows (64 bits)</strong>
        <p>
            <a target="_blank" href="/api/ClientDownloads/Desktop/WindowsDesktop-x64/@_organizationId">EXE de Windows</a>
        </p>
    </div>
    <div class="col-sm-6">
        <strong>Windows (32 bits)</strong>
        <p>
            <a target="_blank" href="/api/ClientDownloads/Desktop/WindowsDesktop-x86/@_organizationId">EXE de Windows</a>
        </p>
    </div>
    <div class="col-sm-6 mb-3">
        <strong>Linux 64 bits</strong>
        <p>
            <a target="_blank" href="/api/ClientDownloads/Desktop/UbuntuDesktop/@_organizationId">Ejecutable de Ubuntu</a>
        </p>
    </div>
    @*<div class="col-sm-6 mb-3">
    <strong>macOS x64 (10.12 - 10.15)</strong>
    <p>
    <a target="_blank" href="/api/ClientDownloads/Desktop/MacOS-x64/@_organizationId">macOS x64 Executable</a>
    </p>
    <strong>macOS arm64 (11.01)</strong>
    <p>
    <a target="_blank" href="/api/ClientDownloads/Desktop/MacOS-arm64/@_organizationId">macOS arm64 Executable</a>
    </p>
    </div>*@
</div>


<div class="row">
    <h4>Agentes residentes</h4>

    <p class="text-info col-sm-12 mb-2">
        Agentes en segundo plano instalables que brindan acceso desatendido y ejecución remota de scripts.
    </p>

    @if (!_isAuthenticated)
    {
        <div class="col-sm-6 mb-3">
            <h6>Debe iniciar sesión para descargar.</h6>
        </div>

    }
    else
    {
        <div class="col-sm-6 mb-3">
            <strong>Windows 10 / 11 (64 bits y 32 bits)</strong>
            <p>
                <a target="_blank" href="/API/ClientDownloads/WindowsInstaller/@_organizationId">Instalador de Windows PowerShell</a>
                <br />
                <a target="_blank" href="/Content/Pronetsys-Win-x64.zip">Solo archivos de Windows x64</a>
                <br />
                <a target="_blank" href="/Content/Pronetsys-Win-x86.zip">Solo archivos de Windows x86</a>
            </p>

            <p>
                <div class="small">Ejemplo de instalación silenciosa:</div>

                <code class="label label-default small">
                    powershell.exe -ExecutionPolicy Bypass -F {path}\Install-Pronetsys.ps1
                    -install
                    -quiet
                    -organizationid "0b3d706b-9c5d-41e6-8ae9-5720d16324e6"
                    -serverurl "https://soporte.pronetsys.com"
                </code>
            </p>
            <p>
                <div class="small">Ejemplo de desinstalación silenciosa:</div>

                <code class="label label-default small">powershell.exe -ExecutionPolicy Bypass -F Install-Pronetsys.ps1 -uninstall -quiet</code>
            </p>
            <p>
                <div class="small">Ejemplo de instalación local:</div>

                <code class="label label-default small">
                    powershell.exe -ExecutionPolicy Bypass -F {path}\Install-Pronetsys.ps1
                    -install
                    -quiet
                    -organizationid "0b3d706b-9c5d-41e6-8ae9-5720d16324e6"
                    -serverurl "https://soporte.pronetsys.com"
                    -path "[path]\Pronetsys-Win-x64.zip"
                </code>
            </p>
            <p>
                <div class="small">Todas las opciones de anulación:</div>

                <code class="label label-default small">
                    powershell.exe -ExecutionPolicy Bypass -F {path}\Install-Pronetsys.ps1
                    -install -quiet -supportshortcut
                    -organizationid "0b3d706b-9c5d-41e6-8ae9-5720d16324e6"
                    -serverurl "https://soporte.pronetsys.com"
                    -devicegroup "Customer Group 1"
                    -devicealias "Front Desk"
                    -deviceuuid "eebb4d87-5459-4976-989e-a7876dffc69c"
                </code>
            </p>
        </div>

        <div class="col-sm-6 mb-3">
            <strong>Linux 64 bits</strong>
            <p>
                <a target="_blank" href="/API/ClientDownloads/UbuntuInstaller-x64/@_organizationId">Instalador Bash de Ubuntu x64</a>
                <br />
                <a target="_blank" href="/API/ClientDownloads/ManjaroInstaller-x64/@_organizationId">Instalador Bash de Manjaro x64</a>
                <br />
                <a target="_blank" href="/Content/Pronetsys-Linux.zip">Solo archivos de Linux x64</a>
            </p>
            <p>
                <div class="small">Ejemplo de instalación:</div>

                <code class="label label-default small">sudo [path]/Install-Ubuntu-x64.sh</code>
            </p>
            <p>
                <div class="small">Ejemplo de instalación local:</div>

                <code class="label label-default small">sudo [path]/Install-Ubuntu-x64.sh --path [path]/Pronetsys-Linux.zip</code>
            </p>
            <p>
                <div class="small">Desinstalar:</div>

                <code class="label label-default small">sudo [path]/Install-Ubuntu-x64.sh --uninstall</code>
            </p>
        </div>

        <div class="col-sm-6 mb-3">
            <strong>macOS x64 (10.12 - 10.15)</strong>
            <p>
                <a target="_blank" href="/API/ClientDownloads/MacOSInstaller-x64/@_organizationId">Instalador Bash de macOS x64</a>
                <br />
                <a target="_blank" href="/Content/Pronetsys-MacOS-x64.zip">Solo archivos de macOS x64</a>
            </p>

            <p>
                <div class="small">Ejemplo de instalación:</div>

                <code class="label label-default small">sudo [path]/Install-MacOS-x64.sh</code>
            </p>
            <p>
                <div class="small">Ejemplo de instalación local:</div>

                <code class="label label-default small">sudo [path]/Install-MacOS-x64.sh --path [path]/Pronetsys-MacOS-x64.zip</code>
            </p>
            <p>
                <div class="small">Ejemplo de desinstalación:</div>

                <code class="label label-default small">sudo [path]/Install-MacOS-x64.sh --uninstall</code>
            </p>
        </div>

        <div class="col-sm-6 mb-3">
            <strong>macOS arm64</strong>
            <p>
                <a target="_blank" href="/API/ClientDownloads/MacOSInstaller-arm64/@_organizationId">Instalador Bash de macOS arm64</a>
                <br />
                <a target="_blank" href="/Content/Pronetsys-MacOS-arm64.zip">Solo archivos de macOS arm64</a>
            </p>

            <p>
                <div class="small">Ejemplo de instalación:</div>

                <code class="label label-default small">sudo [path]/Install-MacOS-arm64.sh</code>
            </p>
            <p>
                <div class="small">Ejemplo de instalación local:</div>

                <code class="label label-default small">sudo [path]/Install-MacOS-arm64.sh --path [path]/Pronetsys-MacOS-arm64.zip</code>
            </p>
            <p>
                <div class="small">Ejemplo de desinstalación:</div>

                <code class="label label-default small">sudo [path]/Install-MacOS-arm64.sh --uninstall</code>
            </p>
        </div>
    }

</div>

@code {
    private string? _organizationId;
    private bool _isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        _isAuthenticated = await Auth.IsAuthenticated();

        if (_isAuthenticated)
        {
            var userResult = await Auth.GetUser();
            if (userResult.IsSuccess)
            {
                _organizationId = userResult.Value.OrganizationID;
            }
        }
        else
        {
            var orgResult = await DataService.GetDefaultOrganization();
            if (orgResult.IsSuccess)
            {
                _organizationId = orgResult.Value.ID;
            }
        }

        await base.OnInitializedAsync();
    }
}