@page "/"
@using Pronetsys.Server.Components.Account.Shared

<AuthorizeView>
    <NotAuthorized>
        <div class="pronetsys-auth">
            <div class="pronetsys-auth-card">
                <div class="pronetsys-auth-brand">
                    <img src="/images/pronetsys-logo-color.png" alt="Pronetsys" />
                </div>
                <h1>Iniciar sesión</h1>
                <LoginForm />
            </div>
            <div class="pronetsys-auth-footer">
                &copy; @DateTime.Now.Year Pronetsys &mdash; Asistencia Remota
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <AuthorizedIndex />
    </Authorized>
</AuthorizeView>
