@page "/invite/{inviteId?}"
@inject IDataService DataService
@inject AuthenticationStateProvider AuthProvider
@inject IToastService Toasts

<h3>Invitación a la organización</h3>
<hr />

<div class="row">
    <div class="col-sm-12">
        @if (_joinSuccessful)
        {
            <h5>¡Felicitaciones!</h5>
            <p class="text-info">
                ¡Te has unido correctamente a la organización!
            </p>
        }
        else if (string.IsNullOrWhiteSpace(InviteId))
        {
            <div>
                <strong class="text-danger">Falta el ID de invitación en la solicitud.</strong>
            </div>
        }
        else
        {
            <div>
                <div>
                    <strong class="text-danger">ADVERTENCIA: </strong>
                    <p class="text-danger">Dejarás tu organización actual y perderás el acceso a sus agentes, a menos que alguien pueda volver a invitarte.</p>
                    <p>¿Estás seguro de que deseas dejar tu organización actual y unirte a esta?</p>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-secondary me-3" onclick="location.assign(location.origin)">Cancelar</button>
                    <button type="button" class="btn btn-danger" @onclick="Confirm">Confirmar</button>
                </div>
            </div>
        }

    </div>
</div>

@code {
    private bool _joinSuccessful;

    [Parameter]
    public string? InviteId { get; init; }

    private async Task Confirm()
    {
        if (string.IsNullOrWhiteSpace(InviteId))
        {
            Toasts.ShowToast2("Falta el ID de invitación en la solicitud.", ToastType.Error);
            return;
        }

        var state = await AuthProvider.GetAuthenticationStateAsync();
        if (state.User.Identity is not { IsAuthenticated: true } identity)
        {
            Toasts.ShowToast2("Debes iniciar sesión para unirte a una organización.", ToastType.Error);
            return;
        }

        var result = await DataService.JoinViaInvitation($"{identity.Name}", InviteId);
        if (!result.IsSuccess)
        {
            Toasts.ShowToast2(result.Reason, ToastType.Error);
            return;
        }

        _joinSuccessful = true;
    }
}