@page "/user-options"
@attribute [Authorize]
@inherits AuthComponentBase

@inject AuthenticationStateProvider AuthProvider
@inject UserManager<RemotelyUser> UserManager
@inject IDataService DataService
@inject IToastService ToastService
@inject IModalService ModalService

<h3 class="mb-3">Opciones de usuario</h3>

<div class="row">
    <div class="col-md-6">
        <partial name="_StatusMessage" for="Message" />
        <EditForm Model="_options" OnValidSubmit="HandleValidSubmit" @onkeydown="EditFormKeyDown">
            <DataAnnotationsValidator />
            <ValidationSummary />

            @if (!string.IsNullOrWhiteSpace(_alertMessage))
            {
                <AlertBanner Message="@_alertMessage" />
            }

            <div class="form-group">
                <label class="control-label">Tu nombre</label>
                <br />
                <InputText @bind-Value="_options.DisplayName" class="form-control" placeholder="Se muestra a los clientes en lugar de tu correo electrónico" />
                <br />
                <ValidationMessage For="() => _options.DisplayName" />
            </div>

            <div class="form-group">
                <label class="control-label">Tema</label>
                <br />
                <InputSelect @bind-Value="_options.Theme" class="form-control">
                    @foreach (var setting in Enum.GetValues(typeof(Theme)))
                    {
                        <option @key="setting" value="@setting">@setting</option>
                    }
                </InputSelect>
                <div class="text-info small mt-1">* Requiere actualizar el navegador.</div>
                <ValidationMessage For="() => _options.Theme" />
            </div>

            <div class="form-group mt-5">
                <label class="control-label">
                    <span class="text-info">Atajos de comandos</span>
                    <button type="button" class="btn btn-secondary btn-sm ms-2" @onclick="ShowShortcutHelp">
                        <span class="oi oi-question-mark pointer"></span>
                    </button>
                </label>
            </div>

            <div class="form-group">
                <label class="control-label">PowerShell Core</label>
                <br />
                <InputText @bind-Value="_options.CommandModeShortcutPSCore" class="form-control" />
                <br />
                <ValidationMessage For="() => _options.CommandModeShortcutPSCore" />
            </div>
            <div class="form-group">
                <label class="control-label">Windows PowerShell</label>
                <br />
                <InputText @bind-Value="_options.CommandModeShortcutWinPS" class="form-control" />
                <br />
                <ValidationMessage For="() => _options.CommandModeShortcutWinPS" />
            </div>
            <div class="form-group">
                <label class="control-label">CMD</label>
                <br />
                <InputText @bind-Value="_options.CommandModeShortcutCMD" class="form-control" />
                <br />
                <ValidationMessage For="() => _options.CommandModeShortcutCMD" />
            </div>
            <div class="form-group">
                <label class="control-label">Bash</label>
                <br />
                <InputText @bind-Value="_options.CommandModeShortcutBash" class="form-control" />
                <br />
                <ValidationMessage For="() => _options.CommandModeShortcutBash" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </EditForm>
    </div>
</div>



@code {
    private RemotelyUserOptions _options = new();
    private string? _alertMessage;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _options = User?.UserOptions ?? new();
    }

    private Task HandleValidSubmit()
    {
        EnsureUserSet();

        if (!_options.CommandModeShortcutBash.StartsWith("/"))
        {
            _options.CommandModeShortcutBash = "/" + _options.CommandModeShortcutBash;
        }
        if (!_options.CommandModeShortcutCMD.StartsWith("/"))
        {
            _options.CommandModeShortcutCMD = "/" + _options.CommandModeShortcutCMD;
        }
        if (!_options.CommandModeShortcutPSCore.StartsWith("/"))
        {
            _options.CommandModeShortcutPSCore = "/" + _options.CommandModeShortcutPSCore;
        }
        if (!_options.CommandModeShortcutWinPS.StartsWith("/"))
        {
            _options.CommandModeShortcutWinPS = "/" + _options.CommandModeShortcutWinPS;
        }

        DataService.UpdateUserOptions(UserName, _options);

        _alertMessage = "Opciones guardadas";

        ToastService.ShowToast("Opciones guardadas.");

        return Task.CompletedTask;
    }

    private void EditFormKeyDown()
    {
        _alertMessage = "";
    }

    private void ShowShortcutHelp()
    {
        var modalText = @"Los atajos de shell se usan para cambiar rápidamente entre shells de terminal en la página principal.
        Si escribes uno de estos atajos en la terminal, seleccionará el modo de comando
        correspondiente (por ejemplo, PowerShell Core, Bash, etc.).";

        ModalService.ShowModal("Atajos de shell", new[] { modalText });
    }
}
