@page "/Account/ConfirmEmailChange"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Pronetsys.Server.Data

@inject UserManager<PronetsysUser> UserManager
@inject SignInManager<PronetsysUser> SignInManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirmar cambio de correo electrónico</PageTitle>

<h1>Confirmar cambio de correo electrónico</h1>

<StatusMessage Message="@message" />

@code {
    private string? message;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Email is null || Code is null)
        {
            RedirectManager.RedirectToWithStatus(
                "Account/Login", "Error: El enlace de confirmación de cambio de correo electrónico no es válido.", HttpContext);
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            message = "No se pudo encontrar al usuario con Id '{userId}'";
            return;
        }

        var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
        var result = await UserManager.ChangeEmailAsync(user, Email, code);
        if (!result.Succeeded)
        {
            message = "Error al cambiar el correo electrónico.";
            return;
        }

        // In our UI email and user name are one and the same, so when we update the email
        // we need to update the user name.
        var setUserNameResult = await UserManager.SetUserNameAsync(user, Email);
        if (!setUserNameResult.Succeeded)
        {
            message = "Error al cambiar el nombre de usuario.";
            return;
        }

        await SignInManager.RefreshSignInAsync(user);
        message = "Gracias por confirmar el cambio de su correo electrónico.";
    }
}
